<!-- partials/footer.ejs-->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-12">
                <p>Copyright &copy; 2015, All rights Reserved</p>
            </div>

        </div>

    </div>
</footer>
