<!DOCTYPE html>
<html lang="en">
    <head>
        <%include partials/head%>
    </head>

    <body>

        <div class="jumbotron">
            <div class="container">
                <div class="row">

                    <!-- partials/navbar.ejs-->
                    <%include partials/navbar%>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><h1>Share our campaigns and easily<br> earn bitcoins</h1></p>

                </div>

            </div>
        </div>


        <section id="howitworks">
            <div class="container">
                <div class="row">

                    <div class="col-md-12">
                        <h2>How it Works</h2>
                        <p>We constantly start new campaigns and watch for participants to share them in Social Networks as Twitter and Facebook. 
                            Wepay in bitcoins to the first campaign shared 3 users, most active 3 users and most lucky 3 users.</p>

                        <div class="span7 text-center"><a href="#" class="btn btn-default btn-center">Read more</div></a>
                    </div>

                </div>
            </div>
        </div>


    </section>

    <section id="guide">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Participation Guide</h1>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <ul>
                        <li>Create Bitcoin wallet on our web page or register your own wallet.</li>
                        <br>
                        <li>Share our campaigns with campaign #hashtags on Twitter.</li>
                        <br>
                        <li>It is not required to login each time to our web page, you can re-share our campaign as we monitor our #bitstweet hashtag.</li>

                    </ul>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4 ">
                <p>Be first to share our campaign and earn $25 in Bitcoins.</p>    
            </div>

            <div class="col-md-4">
                <p>Be most active in our campaigns earn $50 in Bitcoins</p>    
            </div>
            <p>Win $100 bitcoins being choosen randomly from all campaign participants.</p>
            <div class="col-md-4">

            </div>

        </div>

    </section>

    <section id="campaigns">
        <div class="container">
            <div class="row">
                <h1>Recent Campaigns</h1>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="static/img/audi.jpg" alt="...">
                        </a>   
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

                        <div class="col-md-2"> <a class="btn btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Share Campaign </a></div>

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-eye fa-fw""></span><span class="text">Views</span> <span class="badge like-badge">1</span></button></div>       

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-share fa-fw""></span><span class="text">Shares</span> <span class="badge like-badge">1</span></button></div>



                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="static/img/audi.jpg" alt="...">
                        </a>   
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

                        <div class="col-md-2"> <a class="btn btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Share Campaign </a></div>

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-eye fa-fw""></span><span class="text">Views</span> <span class="badge like-badge">1</span></button></div>       

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-share fa-fw""></span><span class="text">Shares</span> <span class="badge like-badge">1</span></button></div>



                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="static/img/audi.jpg" alt="...">
                        </a>   
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

                        <div class="col-md-2"> <a class="btn btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Share Campaign </a></div>

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-eye fa-fw""></span><span class="text">Views</span> <span class="badge like-badge">1</span></button></div>       

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-share fa-fw""></span><span class="text">Shares</span> <span class="badge like-badge">1</span></button></div>



                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="static/img/audi.jpg" alt="...">
                        </a>   
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

                        <div class="col-md-2"> <a class="btn btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Share Campaign </a></div>

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-eye fa-fw""></span><span class="text">Views</span> <span class="badge like-badge">1</span></button></div>       

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-share fa-fw""></span><span class="text">Shares</span> <span class="badge like-badge">1</span></button></div>



                    </div>
                </div>

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="static/img/audi.jpg" alt="...">
                        </a>   
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. </p>

                        <div class="col-md-2"> <a class="btn btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Share Campaign </a></div>

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-eye fa-fw""></span><span class="text">Views</span> <span class="badge like-badge">1</span></button></div>       

                        <div class="col-md-1"><button class="btn btn-sm btn-default like-btn active" type="button" id="10"> <span class="i class="fa fa-share fa-fw""></span><span class="text">Shares</span> <span class="badge like-badge">1</span></button></div>



                    </div>
                </div>




            </div>
        </div>
    </section>

    <section id="Register_Earn">
        <div class="container">

            <div class="row">

                <div class="col-md-12">

                    <h1>Register and Earn First Bitcoins</h1>
                    <h5>Register and share 2 of our campaigns to earn 0.01 bitcoins</h5>
                </div>
            </div>

            <div class="row">



                <div class="col-md-6"> <a class="btn btn-lg btn-primary pull-right" href="#"><i class="fa fa-twitter fa-fw"></i> Sign In </a></div>





                <div class="col-md-6"> <a class="btn btn-lg btn-primary pull-left" href="#"><i class="fa fa-twitter fa-fw"></i> Sign Up</a></div>


            </div>
        </div>
    </div>


</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <ul>
                    <li><a href="#"</a>Home</li>
                    <li><a href="#"</a>About</li>
                    <li><a href="#"</a>Contact</li>
                    <li><a href="#"</a>Privacy Policy</li>
                </ul>
            </div>    
            <div class="col-md-6 col-xs-12">
                <p>Copyright &copy; 2015, All rights Reserved</p>
            </div>

        </div>

    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="static/js/bootstrap.js"></script>

</body>
</html>