<!DOCTYPE html>
<html lang="en">
    <head>
        <%include partials/head%>
    </head>

    <body>

        <div class="jumbotron_cmp">

            <%include partials/navbar%>

        </div>
        <div class="container">
        <section id="Start_campaign">
            <form method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-6">
                            <label class="control-label">Company Name</label>
                            <input type="text" class="form-control" name="title" value="Submit form"/>
                        </div>

                        <div class="col-xs-2 selectContainer">
                            <label class="control-label">Campaign length</label>
                            <select class="form-control" name="length">
                                <option value="action">One Month</option>
                                <option value="comedy">Three Monthes</option>
                                <option value="horror">Six Monthes</option>
                                <option value="romance">One Year</option>
                            </select>
                        </div>
                    </div>
                </div>

                <script language= "JavaScript" type="text/JavaScript">
                    function enablePublish(){
                    document.getElementsByName("publish")[0].disabled=false
                    }
                </script>

                <form action="/charge" method="POST" onclick="enablePublish()">
                    <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_ImGgMUaHkMsCevHj2OZKOBVW"
                        data-image="static/img/MiamiBitcoin.jpg"
                        data-name="Demo Site"
                        data-description="2 widgets"
                        data-amount="5000"
                        data-locale="auto">
                    </script>
                </form>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-2">
                            <label class="control-label">@Twitter</label>
                            <input type="text" class="form-control" name="director" />
                        </div>

                        <div class="col-xs-2">
                            <label class="control-label">Description</label>
                            <input type="text" class="form-control" name="writer" />
                        </div>

                        <div class="col-xs-2">
                            <label class="control-label">Company Landing Page</label>
                            <input type="text" class="form-control" name="producer" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4">
                            <label class="control-label">Campaign Page</label>
                            <input type="text" class="form-control" name="website" />
                        </div>

                        <div class="col-xs-4">
                            <label class="control-label">Youtube link</label>
                            <input type="text" class="form-control" name="trailer" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-8">
                        <label class="control-label">Message</label>

                        <textarea class="form-control" name="review" rows="8"></textarea>
                    </div>
                </div>

                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-right">Publish</button>
                </div>

            </form>
        </section>

        </div>

        <!--partials/footer.ejs-->
        <%include partials/footer%>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="static/js/bootstrap.js"></script>
        <script src="static/js/form.js"></script>

    </body>
</html>
